{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %} Register {% endblock %}

{% block content %}
<div class="container">


    <h3> <a href="{% url 'social:begin' 'facebook' %}">
  <img src="{% static 'polls/images/facebook_login.jpg' %}" style='width:250px;height:65px;' alt="My image"/>
    </a> </h3>


<strong> OR </strong>
    <h3>Register</h3>

  <form action="/accounts/register/" method="post">
      {% csrf_token %}
     {% bootstrap_form form %}
  <input type="submit" value="Register" />

  </form>



</div>
{% endblock %}