{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
  <title>Web Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div style = "background:#5CD5E1 !important">

	<center><br>
	<h1>Welcome To My First Web Application</h1>
  	<p>This web application was a training tool for learning the Django Python web framework.</p>


	<div class="container">

	  <div class="row">

		<div class="col-sm-3">
		<h3><a href ="{% url 'index' %}">Home</a></h3>
		</div>

		<div class="col-sm-3">
		<h3><a href = /admin/>Admin</a></h3>
		</div>

		<div class="col-sm-3">
		<h3><a href ="{% url 'home:interview_questions' %}"> Interview Questions</a></h3>
		</div>

		<div class="col-sm-3">
		{% if not user.is_authenticated %}
		<h3><a href ="{% url 'login' %}">Login</a></h3>
		{% else %}
		<h3><a href="{% url 'logout' %}?next={{ request.path | urlencode }}">Logout</a></h3>
		{% endif %}
		</div>

	  </div>

		<!--<div class = "row">-->

			<!--<div class="col-sm-3">-->
			<!--<h3><a href ="{% url 'kickball' %}">Kickball</a></h3>-->
			<!--</div>-->

		<!--</div>-->
	</div>
	</center>
</div>



	<br><br>

 {% block content %}
            {% endblock %}



</body>
</html>