{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %} Play Kickball! {% endblock %}

{% block content %}






<script type="text/javascript">
function HidePaid()
{
    document.getElementById('id_paid').disabled = true
    document.getElementById('id_paid').style.visibility = 'hidden';
    document.getElementById('id_credit').disabled = true
    document.getElementById('id_credit').style.visibility = 'hidden';
    document.getElementById("id_player_team").disabled = true;
}



function check()
{
    document.getElementById("PaidCheck").checked = true;
    document.getElementById('id_paid').disabled = false;
    document.getElementById("id_paid").checked = true;
    document.getElementById('id_paid').disabled = true;
}


function CheckCredit()
{
    document.getElementById('id_credit').disabled = false;
    document.getElementById("id_credit").checked = true;
    document.getElementById('id_credit').disabled = true;
}

function checkForm()
{
    if(CreditCheck.checked)
    {
        confirm('You are registering using a free season credit, confirm?');
        document.getElementById('id_paid').disabled = false;
        document.getElementById('id_credit').disabled = false;
        document.getElementById("id_player_team").disabled = false;
        return true;
    }

    if(!PaidCheck.checked)
    {
        alert('Please complete payment or apply a season credit.');
        return false;
    }


document.getElementById('id_paid').disabled = false;
document.getElementById('id_credit').disabled = false;
document.getElementById("id_player_team").disabled = false;
return true;
}



</script>



<body onload="HidePaid()">
<div class="container">



<h4>
{% if not user.is_authenticated %}
Welcome Guest. Please <a href ="{% url 'login' %}">login</a> or<a href="{% url 'register' %}"> create an account </a>before registering to play.
</h4>

{% else %}
You are registering for {{league}}. The registration price for the season is ${{ price }}.
    Please confirm the information below. To complete payment, please use Paypal checkout below or to use a reffing credit.
    Once payment is complete, click submit to complete registration.
{% endif %}

    <br><br>

{% if user.is_authenticated %}














    <!--PAYPAL STUFF-->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>

    // Render the PayPal button

    paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
            sandbox:    'ARKOJXbs_UPUzSscqgFJzfWbjzBY0Bth3U8L0JF9zjN5Hc8xBPoNN_Ig14D5Ac70aGsDzpdQWUlWcFNR',
            production: '<insert production client id>'
        },

        // Set to 'Pay Now'

        commit: true,

        // Wait for the PayPal button to be clicked

        payment: function() {

            // Make a client-side call to the REST api to create the payment

            return paypal.rest.payment.create(this.props.env, this.props.client, {
                transactions: [
                    {
                        //amount: { total: '0.01', currency: 'USD' }
                        amount: { total: {{price}}, currency: 'USD' }
                    }
                ]
            });
        },

        // Wait for the payment to be authorized by the customer

        onAuthorize: function(data, actions) {

            // Execute the payment

            return actions.payment.execute().then(function() {


                // make sure to do this onLoad, for example jQuery's $()
                check()
                window.alert('Payment complete, please complete registration.');

            });
        }

    }, '#paypal-button-container');
</script>

<!--END PAYPAL STUFF -->


<form method="POST" class = form onsubmit="return checkForm();" onload="OnLoad()">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    {% bootstrap_form form layout='horizontal' %}

 <div id="paypal-button-container"></div>



    <p>

        Paid: <input type="checkbox" id="PaidCheck" name="PaidCheck" onclick="return false;"> &nbsp; &nbsp;
        Season Credit: <input type="checkbox" id="CreditCheck" onclick="CheckCredit()">  </p>



    {% buttons %}
        <button type="Register" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}




{% endif %}




<p>  Add team register page, </p>

</div>

</body>
{%endblock %}